/* font-family: 'Open Sans', sans-serif; */
body {
    font-family: 'open Sans', sans-serif;
    font-size: 16px;
    /*base*/
    line-height: 20px;
}

header {
    background-color: #2e64a1;
    padding: 16px 0;
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav {
    background-color: #6da9ed;
    margin-bottom: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
    /*La propiedad flex-grow de CSS especifica el factor de crecimiento de un elemento flexible (que tiene asignado display:flex),
    en su dirección principal.*/

}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 6px;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 40px 0;
    margin-top: 20px;
}

nav ul li a.activo {
    background-color: #4c76a5;
}

.holder {
    width: 960px;
    margin: 0 auto;
}

h2 {
    color: #2e64a1;
    font-weight: 400;
}

/*inicio home*/
.bienvenidos {
    width: 75%;
    padding-right: 20px;
    box-sizing: border-box;
}

.testimonios {
    width: 25%;
}

.columna {
    display: flex;
}

.bienvenidos p {
    font-size: 20px;
}

.testimonio {
    background-color: #ccc;
    padding: 16px;
}

.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    display: block;
}

.testimonio .autor {
    font-size: 11px;
    text-align: center;
    display: block;
    margin-top: 12px;
}

/*fin home*/

/*Inicio Notrotros*/
.historia p {
    font-size: 14px;
}



.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 2%;
}
.persona:last-child{
    margin-right: 0;
}

.persona:nth-child(2n+1){
    background-color: #ccc;
}
.persona:nth-child(2n){
    background-color: rgb(177, 177, 177);
}

.persona:last-child{
    margin-right: 0;
}

/*
.persona:first-child{
    margin-left: 0;
}
*/

/* 
.persona:nth-child(3){
    background-color: yellow;
} */


/* 
.persona:nth-child(2n+1) {
    background-color: orange;
} */

/*
.persona:nth-child(even) { 
    background-color: yellow;
} */

/*
.persona:nth-child(odd) { 
    background-color: orange;
} */

.persona img {
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    max-width: 60%;
}

.persona p {
    text-align: left;
    color: #666;
    font-size: 11px;
}

.persona h5,
.persona h6 {
    margin: 0;
    font-weight: normal;
    color: #2e64a1;
}

.persona h5 {
    font-size: 15px;
    margin-top: 3px;
}

.persona h6 {
    font-size: 13px;
    font-style: italic;
}



/*Fin Nosotros*/